@tailwind base;
@tailwind components;
@tailwind utilities;

#my-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

/* MENU */
#my-menu {
    width: 100%;
}

#my-menu nav {
    display: flex;
    gap: 30px;
    justify-content:center;/* change this */
    padding-right: 80px;
    border: #ffffff;
}

#my-menu nav a {
    text-decoration: none;
    color: white;
    
}

#my-menu nav a:hover {
    text-decoration: underline;
    
    
}

/* SEARCH BAR */
#my-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

#my-input input {
    padding: 9px 15px;
    margin: 0 15px;
    color: black;
    width: 450px;
    
    border-radius: 5px;
    border: none;
    outline: none;
}

#my-input button {
    /* green background */
    background-color: white;
    color: black;               /* text color */
    padding: 9px 17px;
    cursor: pointer;
    border: none;
    border-radius: 5px;         /* optional rounded corners */
}
#my-input button :hover{
    background-color: #a72222;
    color:black;
}

/* CART ICON */
#my-input img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-left: 20px;
}
#my-input button:hover {
    background-color: #ffffff; /* darker green on hover */
    color:black;
}
P{
    color:white;
}