#my-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

/* MENU */
#my-menu {
    width: 100%;
}

#my-menu nav {
    display: flex;
    gap: 30px;
    justify-content:center;/* change this */
    padding-right: 80px;
}

#my-menu nav a {
    text-decoration: none;
    color: black;
}

#my-menu nav a:hover {
    text-decoration: underline;
}

/* SEARCH BAR */
#my-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

#my-input input {
    padding: 6px 15px;
    margin: 0 15px;
    color: black;
    width: 450px;
    border: 2px solid #1b1b1b;
    border-radius: 5px;
    outline: none;
}

#my-input button {
    padding: 6px 12px;
    cursor: pointer;
    border: 2px solid black;
    background: transparent;
}

/* CART ICON */
#my-input img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-left: 20px;
}
